body {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  line-height: 1.5;
  color: #24292e;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji;
  font-size: 16px;
  word-wrap: break-word;
  margin: 0;
}
details {
  display: block;
}
summary {
  display: list-item;
}
a {
  background-color: initial;
}
a:active,
a:hover {
  outline-width: 0;
}
strong {
  font-weight: inherit;
  font-weight: bolder;
}
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}
img {
  border-style: none;
}
code,
kbd,
pre {
  font-family: monospace, monospace;
  font-size: 1em;
}
hr {
  box-sizing: initial;
  height: 0;
  overflow: visible;
}
input {
  font: inherit;
  margin: 0;
}
input {
  overflow: visible;
}
[type=checkbox] {
  box-sizing: border-box;
  padding: 0;
}
* {
  box-sizing: border-box;
}
input {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}
a {
  color: #0366d6;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
strong {
  font-weight: 600;
}
hr {
  height: 0;
  margin: 15px 0;
  overflow: hidden;
  background: transparent;
  border: 0;
  border-bottom: 1px solid #dfe2e5;
}
hr:after,
hr:before {
  display: table;
  content: "";
}
hr:after {
  clear: both;
}
table {
  border-spacing: 0;
  border-collapse: collapse;
}
td,
th {
  padding: 0;
}
details summary {
  cursor: pointer;
}
kbd {
  display: inline-block;
  padding: 3px 5px;
  font: 11px SFMono-Regular, Consolas, Liberation Mono, Menlo, monospace;
  line-height: 10px;
  color: #444d56;
  vertical-align: middle;
  background-color: #fafbfc;
  border: 1px solid #d1d5da;
  border-radius: 3px;
  box-shadow: inset 0 -1px 0 #d1d5da;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  margin-bottom: 0;
}
h1 {
  font-size: 32px;
}
h1,
h2 {
  font-weight: 600;
}
h2 {
  font-size: 24px;
}
h3 {
  font-size: 20px;
}
h3,
h4 {
  font-weight: 600;
}
h4 {
  font-size: 16px;
}
h5 {
  font-size: 14px;
}
h5,
h6 {
  font-weight: 600;
}
h6 {
  font-size: 12px;
}
p {
  margin: 1em 0;
}
blockquote {
  margin: 0;
}
ol,
ul {
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
}
ol ol,
ul ol {
  list-style-type: lower-roman;
}
ol ol ol,
ol ul ol,
ul ol ol,
ul ul ol {
  list-style-type: lower-alpha;
}
dd {
  margin-left: 0;
}
code,
pre {
  font-family: SFMono-Regular, Consolas, Liberation Mono, Menlo, monospace;
  font-size: 12px;
}
pre {
  margin-top: 0;
  margin-bottom: 0;
}
a:not([href]) {
  color: inherit;
  text-decoration: none;
}
blockquote,
details,
dl,
ol,
p,
pre,
table,
ul {
  margin-bottom: 16px;
}
hr {
  height: 0.25em;
  padding: 0;
  margin: 24px 0;
  background-color: #e1e4e8;
  border: 0;
}
blockquote {
  padding: 0 1em;
  color: #6a737d;
  border-left: 0.25em solid #dfe2e5;
}
blockquote > :first-child {
  margin-top: 0;
}
blockquote > :last-child {
  margin-bottom: 0;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 24px;
  margin-bottom: 16px;
  font-weight: 600;
  line-height: 1.25;
}
h1 {
  font-size: 2em;
}
h1,
h2 {
  padding-bottom: 0.3em;
  border-bottom: 1px solid #eaecef;
}
h2 {
  font-size: 1.5em;
}
h3 {
  font-size: 1.25em;
}
h4 {
  font-size: 1em;
}
h5 {
  font-size: 0.875em;
}
h6 {
  font-size: 0.85em;
  color: #6a737d;
}
ol,
ul {
  padding-left: 2em;
}
ol ol,
ol ul,
ul ol,
ul ul {
  margin-top: 0;
  margin-bottom: 0;
}
li > p {
  margin-top: 16px;
}
li + li {
  margin-top: 0.25em;
}
dl {
  padding: 0;
}
dl dt {
  padding: 0;
  margin-top: 16px;
  font-size: 1em;
  font-style: italic;
  font-weight: 600;
}
dl dd {
  padding: 0 16px;
  margin-bottom: 16px;
}
table {
  display: block;
  width: 100%;
  overflow: auto;
}
table th {
  font-weight: 600;
}
table td,
table th {
  padding: 6px 13px;
  border: 1px solid #dfe2e5;
}
table tr {
  background-color: #fff;
  border-top: 1px solid #c6cbd1;
}
table tr:nth-child(2n) {
  background-color: #f6f8fa;
}
img {
  max-width: 100%;
  box-sizing: initial;
  background-color: #fff;
}
img[align=right] {
  padding-left: 20px;
}
img[align=left] {
  padding-right: 20px;
}
code,
.daima {
  margin: 0;
  padding: 0.4em;
  font-size: 85%;
  background-color: rgba(27, 31, 35, 0.05);
}
pre {
  word-wrap: normal;
}
pre > code {
  padding: 0;
  margin: 0;
  font-size: 100%;
  word-break: normal;
  white-space: pre;
  background: transparent;
  border: 0;
}
body {
  font-family: songti;
}
/*版权标题*/
p.copyright_title {
  margin-bottom: 1.6em;
  font-size: 1.4em;
  font-weight: 500;
  text-indent: 0;
  text-align: center;
}
/*版权正文*/
p.copyright-text {
  margin: 0;
  font-size: 0.9em;
  line-height: 1em;
  text-indent: 2em;
}
/*版权正文授权*/
p.copyright-text1 {
  margin: 1.2em 0 0;
  font-size: 0.9em;
  line-height: 1em;
  text-indent: 2em;
}
/*版权所有*/
p.copyright-text2 {
  margin: 1.2em 0 0;
  font-size: 0.9em;
  line-height: 1em;
  text-indent: 2em;
}
.bookTitle {
  font-family: heiti;
  font-size: 1.7em;
  text-align: center;
}
.bookname {
  font-family: heiti;
  font-size: 2em;
  text-align: center;
  margin: 2em 0em 0em 0em;
}
.booksubname {
  font-family: heiti;
  font-size: 1.5em;
  text-align: center;
  margin: 0.5em 0em 0em 0em;
}
.author {
  font-family: heiti;
  font-size: 1.5em;
  text-align: center;
  margin: 1em 0em 0em 0em;
}
.publish {
  font-family: heiti;
  font-size: 1.5em;
  text-align: center;
  margin: 6em 0em 1em 0em;
}
.classTitle {
  font-family: heiti;
  font-size: 2em;
  text-align: center;
  margin: 0em 0em 0em 0em;
}
.chapterTitle {
  font-family: heiti;
  font-size: 1.3em;
  text-align: center;
  font-weight: bold;
  color: #ac2e31;
}
.sectionTitle {
  font-family: heiti;
  font-size: 1.2em;
  text-align: center;
  font-weight: bold;
  margin: 1em 0em 1em 0em;
  color: #ac2e31;
}
.listTitle1 {
  font-family: heiti;
  font-size: 1.2em;
  text-align: left;
  font-weight: bold;
  margin: 1em 0em 1em 0em;
  color: #ac2e31;
}
.listTitle2 {
  font-family: heiti;
  font-size: 1.1em;
  text-align: left;
  font-weight: bold;
  margin: 1em 0em 1em 2em;
  color: #ac2e31;
}
.content {
  font-size: 1em;
  color: #292929;
  text-align: left;
  text-indent: 2em;
  line-height: 1.5em;
  margin: 0em 0em 0em 0em;
}
.reference {
  font-family: Kaiti;
  font-size: 1em;
  text-align: left;
  text-indent: 2em;
  margin: 0.5em 2em 0.5em 2em;
  letter-spacing: 2px;
  line-height: 1.6em;
  color: #ac2e31;
}
.reference-r {
  font-size: 1em;
  text-align: right;
  line-height: 2em;
  margin: 0.5em 0em 0.5em 0em;
  font-weight: bold;
  line-height: 1.5em;
  color: #ac2e31;
}
.postil {
  font-size: 1em;
  text-align: left;
  line-height: 1.5em;
  margin: 0em 0em 0em 0em;
}
.poem {
  font-size: 1em;
  text-align: left;
  padding-left: 3em;
  padding-right: 3em;
  color: #ac2e31;
}
.picture {
  text-align: center;
}
.descrip {
  font-size: 0.8em;
  text-align: center;
  line-height: 1.5em;
  color: #ac2e31;
}
.fpfd {
  text-align: center;
}
.mz-footnote {
  display: none;
  text-indent: 0em;
  line-height: 1.5;
}
ul.mzfootnote {
  list-style: none;
  text-align: left;
  line-height: 150%;
}
.mz-footnote-link {
  vertical-align: baseline;
}
mz-cover {
  mz-scale: fill;
}
img.fullscreen {
  mz-fullscreen: 1;
}
img.fullscreen-fill {
  mz-fullscreen: 1;
  mz-scale: fill;
}
p.mzfootnote {
  text-indent: 0em;
  font-size: 0.8em;
  line-height: 130%;
}
span {
  font-style: normal;
}
span.western {
  font-family: American Typewriter;
}
div.halfwidth {
  width: 50%;
  background-color: #88c;
}
div.halfwidthandpadding {
  width: 50%;
  background-color: #88c;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
}
img.enlarge {
  enlarge: 1;
  box-shadow: 0px 0px 3px 2px rgba(84, 84, 84, 0.5);
}
img.infloat {
  width: 100%;
  margin-bottom: 0px;
}
div.withcolor {
  background-color: #08c;
}
div.halfwidth {
  width: 50%;
  background-color: #88c;
}
div.halfwidthandpadding {
  width: 50%;
  background-color: #88c;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
}
/*正文 居中*/
.center {
  font-size: 1em;
  line-height: 1.5em;
  text-align: center;
  padding-left: 0em;
  margin: 0em 0em 0em 0em;
  text-indent: 0em;
}
div.center1 {
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  background-color: #789;
  padding: 10px;
}
div.left {
  float: left;
  width: 50%;
  background-color: #88c;
  padding: 10px;
  margin-right: 1em;
}
div.right {
  float: right;
  width: 50%;
  background-color: #88c;
  padding: 1em;
  margin-top: 0;
  margin-left: 1em;
}
blockquote.indiv {
  margin-top: 1em;
  margin-bottom: 1em;
  margin-left: 2em;
  margin-right: 1em;
  line-height: 200%;
  font-size: 0.8em;
  text-align: justify;
  text-indent: 0em;
  text-decoration: underline;
}
div.border-dash {
  border: 1px dashed #000000;
}
div.right {
  display: block;
  float: right;
  margin-top: 0em;
  margin-bottom: 0em;
  margin-right: 0em;
  margin-left: 1em;
  padding: 0px;
}
.page-break {
  page-break-before: always;
}
.font2 {
  font-size: 0.8em;
}
.color1 {
  color: #ac2e31;
}
.color2 {
  color: #ffffff;
}
.color3 {
  color: #666666;
}
.color4 {
  color: #c7c7c7;
}
.color5 {
  color: #DCDCDC;
}
.color6 {
  color: #b8f1cc;
}
.color7 {
  color: #18ca68;
}
.color8 {
  color: #A8D700;
}
.color9 {
  color: #ffd801;
}
.color10 {
  color: #EE1475;
}
.color11 {
  background-color: #009ee7;
}
.color12 {
  background-color: #e3393c;
}
.bold {
  font-weight: bold;
}
img.right-img {
  float: right;
  width: 50%;
  margin-bottom: 1em;
  margin-top: 0px;
  margin-left: 1em;
  margin-right: 0;
}
img.left-img {
  display: block;
  float: left;
  width: 50%;
  margin-bottom: 0em;
  margin-right: 1em;
  margin-top: 0em;
}
img.left-img1 {
  display: block;
  float: left;
  margin-right: 4px;
  width: 30%;
}
img.left-img2 {
  display: block;
  float: left;
  margin-right: 4px;
  width: 30%;
  border-style: solid;
  border-width: 1px;
  border-color: red;
}
img.left-img3 {
  display: block;
  float: left;
  width: 30%;
}
/*背景色*/
.biaoti1 {
  padding: 0.5em;
  background-color: #bebebe;
}
/*圆角背景*/
.biaoti2 {
  padding: 0.5em;
  -webkit-border-radius: 19px;
  border-radius: 19px;
  background-color: #bebebe;
  text-indent: 0em;
}
/*左下半框*/
.biaoti3 {
  border-left: solid 0.66em #ac2e31;
  border-bottom: solid 2px #ac2e31;
  padding: 0.5em 0.3em;
  text-align: left;
  text-indent: 0em;
}
/*下方虚线*/
.biaoti4 {
  padding: 0.5em;
  border-bottom: 3px dashed #99cc99;
  text-indent: 0em;
}
/*下方实线*/
.biaoti5 {
  padding: 0.5em;
  border-bottom: 2px solid #8B4513;
  text-indent: 0em;
}
/*虚线全框*/
.biaoti6 {
  padding: 0.5em;
  border: 3px dashed #ff9933;
  text-indent: 0em;
}
/*双线全框*/
.biaoti7 {
  padding: 0.5em;
  border: 3px double #191970;
  text-indent: 0em;
}
.biaoti7 + h3,
.biaoti7 + h2 {
  margin-top: 1em;
  margin-bottom: 0em;
}
/*右侧方块*/
.biaoti8 {
  padding: 0em 1em;
  border-left: solid 1.2em #ac2e31;
  text-indent: 0em;
  text-align: left;
}
/*带白框灰色框*/
.biaoti9 {
  padding: 1em 0.5em 1em 0.5em;
  border: 8px double #ffffff;
  background-color: #bebebe;
}
/*上下黑实线粉色底色框*/
.biaoti10 {
  padding: 0.8em 1em;
  border-top: solid 4px #000000;
  border-bottom: solid 4px #000000;
  background-color: #f3dbe0;
  font-family: heiti !important;
  text-align: center !important;
}
/*左上圆角粉色底色框*/
.biaoti11 {
  border-left: solid 15px;
  border-top: solid 2px;
  -moz-border-radius-topleft: 75px;
  -webkit-border-top-left-radius: 75px;
  border-top-left-radius: 75px;
  border-color: #f58da2;
  background-color: #f3dbe0;
  padding: 0.5em 0.3em 0.4em 0.6em;
  text-align: left !important;
  text-indent: 0em !important;
  font-family: songti !important;
  margin-bottom: 0.5em !important;
  margin-top: 1em !important;
}
/*上下双线*/
.biaoti12 {
  border-top: double 3px #000000;
  border-bottom: double 3px #000000;
  margin: 1em 0.5em;
  padding: 0.8em 0.5em;
}
/*双下滑线*/
.biaoti13 {
  padding-bottom: 0.5em;
  font-size: 1.2em;
  font-weight: bold;
  text-indent: 0em;
  border-bottom: solid 1px #4d7dbb;
  border-top: solid 1px #4d7dbb;
  margin: 2em 0em 2em 0em;
}
div.marg1 {
  margin: 1em 2em 2em 1em;
}
/*背景色，body可用*/
/*灰白背景*/
.wgray {
  background-color: #F5F5F5;
}
/*浅灰背景*/
.grey {
  background-color: #DCDCDC;
}
/*暗蓝灰背景*/
.bgrey {
  background-color: #445156;
}
/*棕黑背景*/
.bbrown {
  background-color: #362e2b;
}
/*中灰背景*/
.graybg {
  background-color: #bebebe;
}
/*淡蓝灰背景*/
.bluebg {
  background-color: #ADD8E6;
}
/*灰蓝背景*/
.blueg {
  background-color: #B0C4DE;
}
/*浅蓝背景*/
.bluel {
  background-color: #73c5ff;
}
/*天蓝背景*/
.bluesky {
  background-color: #3399cc;
}
/*深青绿背景*/
.greenb {
  background-color: #669999;
}
/*深绿背景*/
.greenbg {
  background-color: #2E8B57;
}
/*浅青绿背景*/
.greeng {
  background-color: #99cc99;
}
/*浅草绿背景*/
.greenl {
  background-color: #add957;
}
/*绿白背景*/
.greenw {
  background-color: #ceeec7;
}
/*黄白色背景*/
.yellowl {
  background-color: #FFFACD;
}
/*黄色背景*/
.yellow {
  background-color: #ffe60a;
}
/*深黄色背景*/
.yellowd {
  background-color: #ffcc00;
}
/*浅橙色背景*/
.orangel {
  background-color: #ffcc66;
}
/*橙色背景*/
.orange {
  background-color: #ff9933;
}
/*土金色背景*/
.golden {
  background-color: #cc9933;
}
/*浅棕黄色背景*/
.brownl {
  background-color: #DEB887;
}
/*浅棕色背景*/
.brownll {
  background-color: #baa382;
}
/*藕荷色背景*/
.purple {
  background-color: #cc9999;
}
/*浅蓝紫色背景*/
.purplel {
  background-color: #ccccff;
}
/*浅红色背景*/
.redl {
  background-color: #ffcccc;
}
/*浅粉红背景*/
.pinkbg {
  background-color: #ffdde9;
}
/*浅桃色背景*/
.peachbg {
  background-color: #FFDAB9;
}
/*黑色背景*/
.black {
  background-color: #000000;
}
/*白色背景*/
.whitebg {
  background-color: #ffffff;
}
/*乳白色背景*/
.milk {
  background-color: #fffff0;
}
/*灰色圆角背景*/
.greybg {
  background-color: #dcdcdc;
  margin: 0.8em 0.5em;
  padding: 0.8em 0.5em;
  -moz-border-radius: 19px;
  -webkit-border-radius: 19px;
  border-radius: 19px;
}
/*无边框，结合底色使用*/
.noborder {
  border: none;
  margin: 1em 0.5em;
  padding: 0.8em 0.5em;
}
/*单线边框*/
.solid {
  border: solid 1px;
  margin: 1em 0.5em;
  padding: 0.8em 0.5em;
}
/*虚线边框*/
.dashed {
  border: dashed 3px #3399cc;
  margin: 1em 0.5em;
  padding: 0.8em 0.5em;
}
/*点边框*/
.dotted {
  border: dotted 3px #dedede;
  margin: 1em 0.5em;
  padding: 0.8em 0.5em;
}
/*上下双线*/
.dualline {
  border-top: double 3px #000000;
  border-bottom: double 3px #000000;
  margin: 1em 0.5em;
  padding: 0.8em 0.5em;
}
/*左右单线*/
.doubleline {
  border-left: solid 2px #8f8c8b;
  margin: 1em 0.5em;
  padding: 0.8em 0.5em;
}
/*边框带阴影*/
.shadow {
  padding: 0.8em;
  border: 1px solid silver;
  margin: 1em 0.5em 1em 0.5em;
  -moz-box-shadow: 2px 2px 2px silver;
  -webkit-box-shadow: 2px 2px 2px silver;
  box-shadow: 2px 2px 2px silver;
}
p.shadow {
  margin-top: 0em;
  margin-bottom: 0em;
}
div.shadow {
  margin-top: 0em;
  margin-bottom: 0em;
}
/*圆角*/
/*文字特效*/
/*灰色阴影*/
.shadowt {
  text-shadow: 2px 2px 3px silver;
}
/*蓝色光晕*/
.glow {
  text-shadow: 0 0 7px #3399cc;
}
/*灰色浮雕，仅适用有色背景*/
.relief {
  color: #a9a9a9;
  text-shadow: -1px -1px 0 #fff, 1px 1px 0 #333, 1px 1px 0 #444;
}
/*红色描边*/
.bordert {
  text-shadow: 1px 1px 0 red, -1px -1px 0 red;
}
.inline1 {
  height: 1em;
}
.inline2 {
  height: 2em;
}
.inline3 {
  height: 3em;
}
.color-text {
  color: #137daf;
}
.color_no_change {
  color: #494949;
}
/*不可修改色值*/
.color_body_no_change {
  color: #696969;
}
/*可根据图书风格修改*/
.bg_color {
  background-color: #c8c8c8;
}
/*可根据图书风格调节*/
.color_change {
  color: #292929;
}
/*可根据实际情况调节*/
.color_change2 {
  color: #676767;
}
/*可根据实际情况调节*/
.poem-title {
  font-family: SimHei;
  font-size: 1em;
  line-height: 1.5em;
  color: #ac2e31;
  font-weight: bold;
  text-align: center;
}
.content-a {
  font-size: 1em;
  text-align: center;
  line-height: 1.5em;
  margin: 0em 0em 0em 0em;
  color: #ac2e31;
}
.zsdtext2 {
  padding-bottom: 0.5em;
  font-size: 1.2em;
  font-weight: bold;
  text-indent: 0em;
  border-bottom: solid 1px #4d7dbb;
  border-top: solid 1px #4d7dbb;
  margin: 2em 0em 2em 0em;
}
.noindent {
  text-indent: 0em;
}
/*正文不空两字*/
/*斜体--------------------------------------*/
.italic {
  font-style: italic;
}
.underline {
  text-decoration: underline;
}
.daima {
  font-size: 1em;
  text-align: left;
  text-indent: 2em;
  margin: -0.5em 0em 0em 0em;
  letter-spacing: 2px;
  line-height: 1.5em;
  font-family: Kaiti;
}
.kaiti {
  font-family: Kaiti;
  color: #000000;
}
/*带框文字*/
span.textborder {
  border-style: solid;
  border-width: 1px;
}
.biaotiS {
  padding: 0.5em;
  border-bottom: 2px solid #c20815;
  text-indent: 0em;
}
/*下方实线*/
